{% extends "body.html" %}

{% block title %}FEI{% endblock %}

 {% block main %}
 




		 

	
	   
 <div class="container">	
  <div class="row">
     <br>
		<div class="col-md-6 col-lg-3  "> 
		  <div class="card">
		   <img src=" https://i.pinimg.com/originals/56/af/c3/56afc33bbe8a869cb9c2dea74d749c77.jpg"class="card-img-top img-fluid" alt="...">
			<div class="card-body">
			 <h5 class="card-title">FEI</h5>
			 <p class="card-text"><i class="fas fa-anchor"></i>官方網站</p>
			  <button class="btn btn-info " ><a href="https://www.i-freightexpress.com/"><font color="white">進入網址</a></font></button>
			</div>
		  </div>
		</div>
	 <br>
		<div class="col-md-6 col-lg-3  "> 
		  <div class="card" >
		   <img src="https://www.i-freightexpress.com/upload/%E6%9C%AA%E5%91%BD%E5%90%8D-1-01_5.jpg" class="card-img-top img-fluid" alt="...">
			<div class="card-body">
			 <h5 class="card-title">待填</h5>
			 <p class="card-text"><i class="fas fa-anchor"></i>待填</p>
			  <button class="btn btn-info">待填</button>
			</div>
		  </div>
		</div>
	  
	 
	 
  </div>
  
    <div class="card" >
		 <img src="https://www.i-freightexpress.com/upload/about-pic_001.jpg" class="card-img-top img-fluid" alt="...">
		   <div class="card-body">
			 <h5 class="card-title">企業願景</h5>
			 <p class="card-text"><i class="fas fa-anchor"></i>飛特國際運通擁有多年專營「兩岸貨運承攬」的經驗，持續對兩岸貨運投入多項資源，集結最豐富的資源提供最優質的兩岸物流服務。
			 有鑑於中國大陸佔台貿易出口量多達四成的現象，又因近年來電子商務興起加速國際貿易擴大，越來越多港口在台建立公共倉作為加快轉運的手段，本司特別配合政府政策與兩岸貨貿新紀元，打造專屬口岸暢通平台。
			 通過內地全方位對點直輸，運輸、配送、清關皆採用一線式服務，以「安全」送達為至高原則，大幅降低貨物遺失、毀損及扣關等情形，並提供多種特殊貨品寄送之通路，用心呵護客戶所託之需求，讓您享受高速、安全、增利的物流新體驗！</p>
			 <button class="btn btn-info">Go somewhere</button>
		   </div>
		</div>
	

</div>

{% endblock %}
